.red {
    background-color: #fc7d86;
}

.orange {
    background-color: #ffbe90;
}

.yellow {
    background-color: #ff89b9;
}

.green {
    background-color: #cb88da;
}

.l_green {
    background-color: #e187cb;
}

.d_green {
    background-color: #f2f2f2;
}

.blue {
    background-color:#84fe81;
}

.l_blue {
    background-color: #e1cd8b;
}

.purple {
    background-color: #fbe981;
}

.pink {
    background-color: #8487f0;
}

/* ---------------------------------------------------------------------------------------------------------------- */
/*                                                                                                                  */
/* ---------------------------------------------------------------------------------------------------------------- */

html, body {        /* "activate support for doctype" */
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}

table {
    width: 100%;
    height: 100%;
}

td {
    position: relative;
    border: 1px solid black;
    text-align: center;
}

td div {
    font-size: 1vw;
}

.frame
{
    position: fixed;
    top: 8vh;
    left: 25vw;
}

.legend
{
    border: 3px solid rgb(254, 187, 105);
    width: 30vw;
    height: auto;
}

.blank {
    border: none;
}

.mass {
    position: absolute;
    top: 0;
    right: 0;
}

.symbol {
    font-weight: bold;
    font-size: 2vw;
    
}

.number {
    position: absolute;
    bottom: 0;
}

.symbol:hover ~ .info
{
    display: block;
}

.symbol:hover ~ .legend
{
    display: none;
}

.info
{
    z-index: 1;
    border: 2px solid black;
    border-radius: 5px;
    position: fixed;
    display: none;
    top: 5vh;
    left: 20vw;
    /* overflow: hidden; */
}

.info p
{
    /* position: absolute; */
    text-align: justify;
    text-justify: inter-character;
    margin: 10px;
    font-size: 1.3vw;
    width: 30vw;
    word-wrap: break-word;
    word-break: break-word;
    
}