/* Coolors Exported Palette - coolors.co/000000-586f7c-b8dbd9-f4f4f9-04724d */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(202%, 17%, 42%, 1);
$color3: hsla(177%, 33%, 79%, 1);
$color4: hsla(240%, 29%, 97%, 1);
$color5: hsla(160%, 93%, 23%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(88, 111, 124, 1);
$color3: rgba(184, 219, 217, 1);
$color4: rgba(244, 244, 249, 1);
$color5: rgba(4, 114, 77, 1);