body
{
  margin: 0;
  padding: 0;
}

nav
{
  background-image:linear-gradient(to right, #7d2c6c, #df2530);
}

a
{
  text-decoration: none;
  color: white;
}

ul
{
  padding: 0;
}

nav li
{
  position: relative;
  display: inline-block;
  vertical-align: top;
}

nav li a
{
  display: block;
  padding: 20px;
}

nav li:hover a
{
  background-color: #a62954;
}

nav li:hover .list
{
   display: block;
}

#menu-title:hover
{
  background-color: #612254;
}

.list
{
  padding: 0;
  position: absolute;
  display: none;
  background-color: cadetblue;
  width: 200px;
}

.list a:hover
{
  background-color: #9f4e6a;
}

.list li
{
  display: block;
}